div.buffer {
    margin-top: 500px
}
body {
    background-color: aliceblue;
}

h2 {
    background-color: steelblue;
    color: snow;
    text-align: center;
    line-height: 50px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    }

h3 {
    color: rgb(32, 20, 109);
    font-family: sans-serif;
    margin-left: 20px;
}

img {
    float: right;
    float: top;
    margin-right: 20px;
    padding:  5px;
    border: 5px solid steelblue;
    background-color: aliceblue;
}

#squashimage {
    width: 200px;
    float: middle;
    float: top;
    margin-right: 20px;
    margin-top: 50px;
    padding:  5px;
    border: 0px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 300px;
}

img.myimages {
    width: 200px;
    padding:  5px;
    border: 5px solid steelblue;
    background-color: aliceblue;
    margin-right: ;
}

.caption {
    display: block;
    margin: 10px;
}


.index_link{
    text-decoration: none;
    text-decoration-color: steelblue;
}

.index_link :hover{
    text-decoration: underline;
    text-decoration-color: black;
}

.sidenav{
    display: inline-block;
    position: relative;
    top: 100px;
    height: 1000px; 
    width: 200px; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: steelblue;
    overflow-x: hidden;
    padding-top: 10px;
}

.sidenav h1{
    position: absolute;
    font-size: 25px;
    font-family: sans-serif;
    color: steelblue;
    background-color: snow;
    width: 160px;
    margin-left: 20px;
    text-align: center;
}

.sidenav a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    font-family: sans-serif;
}

.links{
    margin-top: 60px;
    padding-left: 10%;
}

.sidenav a:hover{
    text-decoration: underline;
}